# packaging
pip
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
langchain
faiss-cpu

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
openai

# utilities
six>=1.14
joblib
memoized-property
termcolor
streamlit
PyPDF2
pymongo
